body {
  margin: 10;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%
    );
}

.phonebook-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.input-container {
  display: inline-flex;
}

.phonebook-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 300px;
  background: transparent;
  color: #fff;
}

.phonebook-input::placeholder {
  color: #e2e2e2;
}

.phonebook-submit {
  display: flex;
}

.phonebook-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;  
}

.phonebook-addbutton {
  display: inline-flex;
}

.phonebook-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.phonebook-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.phonebook-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.phonebook-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

h1 {
  margin: 32px 0 12px;
  color: #fff;
  font-size: 24px;
}

.search-input {
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
  width: 180px;
}

.personinfo {
  color: white;
  padding-top: 5px;
}

ul {
  list-style: none;
  margin-right: 30px;
}

.error {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #5d0cff;
  outline: none;
  width: 90%;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.delete-icon {
  background: transparent;
  border-style: none;
  margin-right: 5px;
}

.delete-icon:hover {
  transform: scale(1.5);
}